
.messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}
.selection , .firstSelection, .secondSelection{
    display: flex;
    align-items: center;
}

.firstSelection, .secondSelection{
    padding-right: 10px;
}
.selection p {
    font-size: 17px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: 'Oswald';
}
.selection select{
    font-size: 13px;
    outline: none;
    background: #fdf4f2;
    width: 115px;
    border-radius: 22px;
    padding: 4px 5px;
    border: 2px solid #ffbaba;
    font-family: 'Montserrat';
    color: #160000;
    font-weight: 500;
}

.selection select::after { 
    content: "\25b6"; 
    padding-right: 20px
}

.translate{
    font-size: 15px;
    background: #393f93;
    padding: 5px 20px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
}
.profileModal{
    display: block;
}
.profileModalMobile{
    display: none;
 }
.messageInput{
    outline: none;
    box-shadow: none;
    border: none;
}

@media (max-width:768px) {
    .profileModal{
        display: none !important;
    }
    .profileModalMobile{
       display: block;
       width: 10%;
    }
    .friendName{
        width: 90%;
    }
    .chatHeader{
        width: 100%;
        display: grid;
    }
    .chatFriendHeader{
        display: flex;
    }
}


@media (max-width:480px){
    .selection p{
        font-size:13px;
    }
    .selection select{
        font-size: 7px;
        width: 60px;
    }
    .chatFriendHeader{
        margin-bottom: 10px;
    }
    .backArrow{
        margin-top: -40px;
    }
}