@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.font-small{
    font-weight: 300;
}
.font-regular{
    font-weight: 400;
}
.font-heading{
    font-weight: 500;
}
